body {
    margin:0;
}

.data-grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    white-space:pre !important;
    user-select: none;
}

@keyframes slideDown {
    from {
        top: -100px; /* Start from outside the top of the screen */
    }
    to {
        top: 20px; /* End at the defined position */
    }
}
@keyframes slideUp {
    from {
        top: 20px; /* Start from outside the top of the screen */
    }
    to {
        top: -100px; /* End at the defined position */
    }
}

.alert-hidden {
    animation: slideUp 0.5s ease-out;
}

